
  .box {
   
    width: 150px;
    height: 150px;
    background: red;
    color: white;
    display: inline-block;
  }
  #two{
    background-color: aqua;
    position: relative;
    top: 30px;
    left: 30px;
  }
  #three{
    position: absolute;
    background-color: pink;
    left: 30px;
    top: 30px;
  }
  #four{
    position: fixed;
    background-color: yellow;
    left: 50px;
    top: 50px;
  }
  
  
  
  