body{
    color: #444;
    font-family: sans-serif;
    border-top:10px solid #288c9a;
}




/*h1,h2,h3,h4,p,li{
    font-family:sans-serif;
}*/

h1,
h2,
h3{
    color: #288c9a;
}
h1{
    font-size: 26px;
    font-style: italic;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;
    line-height: 1.5;
}
li{
    font-size: 20px;
}
footer p{
    font-size: 16px;
}
.Related-author{
    font-size: 18px;
    font-weight: bold;
}
.udemy {
    list-style: none;
}
.main-header{
    background-color: #f7f7f7;
}
aside{
    background-color: #f7f7f7;
    border-top: 5px solid #288c9a;
    border-bottom: 5px solid #288c9a;
}
body{
    background-color: rgb(245, 243, 240);
}
/*.First-li{
    font-weight: bold;
}*/
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
/*li:nth-child(even){
    color: #288c9a;*/
}
article p:last-child{
    color: red;
}
article p:first-child{
    color: red;
}
/*Styling link*/
a {
    color: #288c9a;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: #288c9a;
}
a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline  orangered;
}
a:active{
    background-color: black;
    font-style: italic;
}
/*LVHA*/

#copyright{
color: red;
}
.copyright{
color: blue;
}
.text{
color: yellow;
}
footer{
color: green;
}
nav{
    font-size: 18px;
}